In [521]:
import numpy as np
import pandas as pd

In [522]:
books=pd.read_csv('books.csv',error_bad_lines=False,encoding="ISO-8859-1")

In [523]:
ratings=pd.read_csv('ratings.csv',error_bad_lines=False,encoding='latin-1')

In [524]:
books

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [525]:
ratings

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [526]:
books.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [527]:
l=books['language_code'].value_counts()

In [528]:
l

eng      6341
en-US    2070
en-GB     257
ara        64
en-CA      58
fre        25
ind        21
spa        20
ger        13
per         7
jpn         7
pol         6
por         6
en          4
dan         3
nor         3
ita         2
fil         2
swe         1
tur         1
nl          1
rum         1
rus         1
vie         1
mul         1
Name: language_code, dtype: int64

In [529]:
new_books=books.copy()

In [530]:
lang=['eng','en-US']
new_books=new_books[new_books['language_code'].isin(lang)]

In [531]:
l=new_books['language_code'].value_counts()

In [532]:
l

eng      6341
en-US    2070
Name: language_code, dtype: int64

In [533]:
new_books.drop(['book_id','best_book_id','work_id','books_count','isbn13','ratings_count','work_ratings_count','work_text_reviews_count','ratings_1','ratings_2','ratings_3','ratings_4','ratings_5','image_url','small_image_url','title'],axis=1,inplace=True)

In [534]:
new_books.tail(50)

,id,isbn,authors,original_publication_year,original_title,language_code,average_rating
9931,9932,310328179,Shauna Niequist,2013.0,NaN,eng,4.22
9932,9933,140565337,Tedd Arnold,1997.0,Parts,eng,4.25
9934,9935,425204308,John Sandford,2005.0,Broken Prey,eng,4.15
9936,9937,1596435712,Caragh M. O'Brien,2012.0,Promised,en-US,3.77
9937,9938,61779768,Christopher Moore,2014.0,The Serpent of Venice,eng,3.86
9938,9939,1594487715,Steven Johnson,2010.0,NaN,eng,4.03
9941,9942,1442486597,"Abigail Haas, Abby McDonald",2013.0,Dangerous Girls,eng,4.14
9942,9943,866114262,"Malvina G. Vogel, Arthur Conan Doyle",1977.0,NaN,eng,4.49
9943,9944,670026557,Adam M. Grant,2013.0,Give and Take: A Revolutionary Approach to Suc...,eng,4.06
9944,9945,NaN,R.K. Lilley,2013.0,NaN,eng,4.46
9945,9946,385413726,Thomas L. Friedman,1989.0,From Beirut to Jerusalem,en-US,4.10
9946,9947,62320521,Maria Dahvana Headley,2015.0,Magonia,eng,3.60
9947,9948,1421511304,"Matsuri Hino, Tomo Kimura",2005.0,ã´ã¡ã³ãã¤ã¢é¨å£« 2,eng,4.25
9948,9949,743270606,Jon Ronson,2004.0,The Men Who Stare at Goats,en-US,3.58
9949,9950,145553322X,Kristen Ashley,2015.0,Ride Steady,eng,4.45
9950,9951,61431621,Joanne Harris,2007.0,The Lollipop Shoes,en-US,3.80
9952,9953,451474473,Anne Bishop,2016.0,Marked in Flesh,eng,4.31
9954,9955,802734375,Simone Elkeles,2013.0,Wild Cards,eng,3.95
9955,9956,078511677X,"Joss Whedon, John Cassaday",2005.0,"Astonishing X-Men, Volume 2: Dangerous",eng,4.19
9957,9958,045123023X,Hugh Ambrose,2009.0,NaN,eng,4.09
9958,9959,NaN,Hugh Howey,2011.0,Wool 2: Proper Gauge,eng,4.15
9960,9961,679749845,Ian McEwan,1981.0,The Comfort of Strangers,eng,3.44
9962,9963,380795272,Raymond E. Feist,1998.0,Krondor: The Betrayal,en-US,3.81
9963,9964,1408857391,Samantha Shannon,2015.0,The Mime Order,eng,4.20
9964,9965,60182989,Clive Barker,2007.0,Mister B. Gone,eng,3.32
9965,9966,312254997,Salman Rushdie,1999.0,The Ground Beneath Her Feet,eng,3.77
9968,9969,1771641495,"Giulia Enders, Jill Enders",2014.0,Darm mit Charme,eng,3.99
9970,9971,NaN,Melody Anne,2011.0,NaN,eng,3.87
9974,9975,1857236653,David Gemmell,1985.0,The King Beyond the Gate,eng,4.12
9975,9976,778325806,Maria V. Snyder,2009.0,Sea Glass,en-US,4.00
9977,9978,679750150,"Yukio Mishima, John Nathan",1963.0,åå¾ã®æ³èª [Gogo no eikÅ],en-US,3.89
9978,9979,312940661,Wilbur Smith,1964.0,When the Lion Feeds,eng,4.16
9979,9980,764200739,Deeanne Gist,2006.0,The Measure of a Lady,en-US,3.94
9980,9981,739455834,Jeffery Deaver,2005.0,The Twelfth Card,eng,3.98
9981,9982,385344422,Karen Marie Moning,2016.0,Feverborn,eng,4.18
9983,9984,140255087,Peter Matthiessen,1978.0,The Snow Leopard,eng,4.12
9984,9985,425176932,"Steve Perry, Tom Clancy, Steve Pieczenik",2000.0,Tom Clancy's Net Force: Breaking Point,eng,3.69
9986,9987,312651198,Iris Johansen,2010.0,Chasing The Night,en-US,4.12
9987,9988,674017722,John Rawls,1971.0,A Theory of Justice,eng,3.91
9988,9989,NaN,Quinn Loftis,2012.0,Out of the Dark,eng,4.50
9989,9990,140143912,Oscar Hijuelos,1989.0,The Mambo Kings Play Songs of Love,eng,3.68
9990,9991,385425139,Ben Okri,1991.0,The Famished Road,eng,3.73
9991,9992,575113294,Miles Cameron,2012.0,The Red Knight,eng,4.12
9992,9993,224079948,Ian Mortimer,2008.0,The Time-Traveller's Guide to Medieval England...,eng,3.99
9993,9994,810983559,"Michael Buckley, Peter Ferguson",2009.0,"The Everafter War (The Sisters Grimm, #7)",eng,4.32
9994,9995,1416523723,Herman Melville,1924.0,"Billy Budd, Sailor",eng,3.09
9995,9996,441019455,Ilona Andrews,2010.0,Bayou Moon,eng,4.09
9996,9997,067973371X,Robert A. Caro,1990.0,Means of Ascent,eng,4.25
9997,9998,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,eng,4.35
9998,9999,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65

In [535]:
ratings.columns

Index(['book_id', 'user_id', 'rating'], dtype='object')

In [536]:
new_books.rename(columns={'id':'book_id','original_publication_year':'year','original_title':'title',},inplace=True)

In [537]:
new_books

,book_id,isbn,authors,year,title,language_code,average_rating
0,1,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
1,2,439554934,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,eng,4.44
2,3,316015849,Stephenie Meyer,2005.0,Twilight,en-US,3.57
3,4,61120081,Harper Lee,1960.0,To Kill a Mockingbird,eng,4.25
4,5,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,eng,3.89
...,...,...,...,...,...,...,...
9994,9995,1416523723,Herman Melville,1924.0,"Billy Budd, Sailor",eng,3.09
9995,9996,441019455,Ilona Andrews,2010.0,Bayou Moon,eng,4.09
9996,9997,067973371X,Robert A. Caro,1990.0,Means of Ascent,eng,4.25
9997,9998,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,eng,4.35
9998,9999,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65

In [538]:
a=ratings['user_id'].value_counts()

In [539]:
a

12874    200
30944    200
52036    199
28158    199
12381    199
        ...
9417       2
33501      2
35548      2
41689      2
2049       2
Name: user_id, Length: 53424, dtype: int64

In [540]:
b=ratings['user_id'].value_counts()>50

In [541]:
b

12874     True
30944     True
52036     True
28158     True
12381     True
         ...
9417     False
33501    False
35548    False
41689    False
2049     False
Name: user_id, Length: 53424, dtype: bool

In [542]:
new_users=list(a[b].index)

In [543]:
new_users

[12874,
 30944,
 52036,
 28158,
 12381,
 45554,
 6630,
 37834,
 14372,
 24143,
 7563,
 15604,
 9668,
 9806,
 19729,
 33065,
 9731,
 38798,
 25840,
 10509,
 3739,
 10288,
 26718,
 32745,
 17566,
 53293,
 43602,
 25164,
 32305,
 28767,
 26145,
 26629,
 32748,
 2487,
 39703,
 23603,
 49288,
 8167,
 24499,
 53292,
 50999,
 49297,
 12471,
 49289,
 9011,
 49295,
 8510,
 48687,
 6342,
 29819,
 5645,
 42574,
 10402,
 38475,
 14248,
 30184,
 23303,
 48482,
 15494,
 11285,
 46482,
 11927,
 30681,
 12946,
 29951,
 21733,
 10249,
 48440,
 32055,
 6698,
 17643,
 9246,
 15645,
 1185,
 47476,
 13776,
 2900,
 21713,
 13991,
 8484,
 11692,
 10111,
 25278,
 40126,
 1952,
 25182,
 50104,
 32923,
 10146,
 14192,
 14603,
 10335,
 42810,
 42508,
 24834,
 27934,
 7001,
 50133,
 11945,
 16569,
 3922,
 10140,
 10610,
 38082,
 5461,
 47800,
 43622,
 27499,
 951,
 10751,
 5436,
 2324,
 29703,
 53245,
 33697,
 37284,
 19526,
 21676,
 38865,
 51460,
 47411,
 50101,
 30233,
 21228,
 24326,
 9125,
 46139,
 19942,
 13794,
 11691,
 19724,
 23612,
 5115,
 11999,
 30313,
 13034,
 1169,
 17434,
 18361,
 44397,
 11272,
 8370,
 46977,
 42404,
 49298,
 16913,
 14546,
 21487,
 30283,
 10944,
 588,
 17663,
 33716,
 22164,
 5272,
 51166,
 27834,
 18100,
 15547,
 22602,
 47478,
 6063,
 46421,
 50096,
 46472,
 18031,
 20782,
 45269,
 20467,
 4606,
 12476,
 2276,
 48559,
 21217,
 51838,
 11569,
 18798,
 3087,
 45493,
 47730,
 26053,
 3662,
 11408,
 33872,
 37746,
 5885,
 24845,
 8579,
 32635,
 36099,
 2171,
 51480,
 14385,
 8340,
 33890,
 11445,
 11868,
 8710,
 8178,
 12466,
 24582,
 13274,
 26579,
 35146,
 18313,
 9244,
 32918,
 5379,
 51065,
 17984,
 34688,
 13544,
 12861,
 13407,
 3022,
 20967,
 29123,
 30794,
 16377,
 4536,
 20406,
 41074,
 32338,
 23576,
 43985,
 36695,
 13282,
 28824,
 19191,
 8669,
 5629,
 21230,
 314,
 39618,
 2077,
 20076,
 41240,
 44243,
 41747,
 12455,
 17228,
 25214,
 10246,
 15889,
 50102,
 439,
 20848,
 38080,
 11239,
 6016,
 9722,
 41318,
 39423,
 11599,
 14936,
 1136,
 10727,
 33864,
 19984,
 14207,
 24389,
 47746,
 33147,
 11854,
 32033,
 8096,
 18550,
 29689,
 18857,
 15318,
 26661,
 48297,
 32592,
 30871,
 37855,
 8959,
 40468,
 52895,
 50342,
 29031,
 9771,
 26398,
 52469,
 51762,
 10885,
 26244,
 27027,
 14285,
 16177,
 41421,
 26883,
 31001,
 34083,
 41861,
 52583,
 13360,
 37099,
 36240,
 14235,
 18493,
 30833,
 25048,
 46147,
 32419,
 33455,
 10662,
 51452,
 30601,
 1677,
 31198,
 27267,
 8454,
 13095,
 37582,
 22534,
 43037,
 6634,
 29155,
 1440,
 44496,
 49152,
 37041,
 37690,
 3114,
 1393,
 52929,
 9843,
 3641,
 3721,
 35982,
 19171,
 4044,
 35259,
 28301,
 14599,
 17242,
 37564,
 8422,
 31852,
 13000,
 49514,
 41744,
 2056,
 725,
 15748,
 35780,
 15054,
 23558,
 35568,
 32576,
 21724,
 46133,
 43300,
 16129,
 27612,
 40167,
 21788,
 53173,
 41282,
 36995,
 17547,
 6596,
 9804,
 50444,
 9384,
 11545,
 8519,
 14222,
 48196,
 27460,
 25812,
 32490,
 34882,
 50684,
 32058,
 30942,
 34787,
 21160,
 33679,
 40793,
 48450,
 23956,
 33599,
 6252,
 31336,
 38687,
 22243,
 9787,
 32052,
 52007,
 9195,
 41204,
 7778,
 49382,
 19944,
 35111,
 5357,
 27221,
 9165,
 29732,
 18957,
 29502,
 17359,
 36031,
 7840,
 16573,
 11287,
 16587,
 20084,
 34568,
 9309,
 21268,
 8388,
 28459,
 50593,
 13826,
 13429,
 6867,
 48007,
 38070,
 15838,
 41997,
 12734,
 36725,
 16821,
 13003,
 11837,
 6323,
 49830,
 6042,
 8060,
 12668,
 8861,
 31760,
 21372,
 20991,
 20363,
 13084,
 16662,
 51612,
 26282,
 3005,
 25988,
 11727,
 32201,
 20319,
 1350,
 45593,
 368,
 7406,
 21739,
 26146,
 44023,
 21658,
 14022,
 13745,
 16403,
 12526,
 17222,
 34703,
 11421,
 24488,
 22368,
 27045,
 52740,
 25872,
 21599,
 3827,
 35326,
 16576,
 33713,
 50399,
 13929,
 8612,
 44450,
 18316,
 18228,
 39013,
 8090,
 13163,
 7842,
 43176,
 29572,
 21759,
 8749,
 7979,
 18199,
 39933,
 14681,
 17405,
 21543,
 1088,
 41577,
 37153,
 12840,
 30879,
 52460,
 7801,
 10120,
 8833,
 39452,
 45260,
 26097,
 16346,
 50753,
 27043,
 2648,
 40841,
 4212,
 5580,
 13580,
 6929,
 18053,
 27398,
 2959,
 15186,
 33307,
 11623,
 32199,
 21360,
 48822,
 40346,
 45437,
 45811,
 178,
 7225,
 10297,
 45071,
 49786,
 40566,
 17475,
 10181,
 38032,
 30304,
 34193,
 27740,
 17105,
 52344,
 40490,
 48285,
 8209,
 21781,
 39006,
 36883,
 28831,
 28923,
 28531,
 14136,
 45935,
 27515,
 43887,
 43343,
 22313,
 52994,
 20494,
 4901,
 9214,
 17703,
 24567,
 13299,
 20873,
 13879,
 18165,
 9440,
 39720,
 35608,
 12982,
 41062,
 35427,
 49491,
 18433,
 11836,
 18120,
 9768,
 47249,
 27127,
 10743,
 31305,
 34363,
 13378,
 8831,
 8909,
 32574,
 7674,
 9969,
 6875,
 33207,
 28178,
 53145,
 38851,
 6486,
 31159,
 44470,
 18169,
 46398,
 10792,
 17883,
 26018,
 12827,
 3982,
 41003,
 28882,
 27512,
 25415,
 27540,
 32160,
 6958,
 11360,
 47490,
 20375,
 18920,
 15020,
 29489,
 42451,
 30160,
 23093,
 20035,
 50774,
 51692,
 32952,
 2874,
 44723,
 49022,
 23768,
 4147,
 30405,
 27585,
 46823,
 4280,
 4706,
 5435,
 15296,
 28803,
 36121,
 45498,
 49631,
 25030,
 16347,
 29037,
 35986,
 22913,
 48493,
 35,
 31941,
 30071,
 21093,
 48291,
 36535,
 38446,
 41300,
 37481,
 33127,
 23497,
 14149,
 43727,
 25675,
 5100,
 7999,
 13629,
 8440,
 9285,
 29132,
 8337,
 30203,
 6360,
 35739,
 19668,
 50313,
 7970,
 6017,
 23063,
 33947,
 5345,
 25678,
 41733,
 8779,
 46754,
 16421,
 50610,
 50715,
 4795,
 51250,
 22356,
 44419,
 27448,
 41145,
 42943,
 11148,
 18179,
 26992,
 52956,
 14122,
 4107,
 34531,
 40875,
 14943,
 3918,
 12364,
 22212,
 27546,
 28853,
 20414,
 23776,
 10087,
 38756,
 41434,
 13112,
 37714,
 29845,
 17876,
 39195,
 3261,
 11073,
 20077,
 2271,
 39709,
 12638,
 46479,
 51625,
 19895,
 50289,
 27900,
 38067,
 30513,
 14016,
 8526,
 45404,
 42568,
 44937,
 17937,
 25705,
 6795,
 12361,
 22192,
 44329,
 21987,
 16046,
 34315,
 17329,
 38605,
 17104,
 41105,
 40003,
 38185,
 17525,
 38079,
 40975,
 26750,
 49189,
 50976,
 17928,
 24609,
 5759,
 11209,
 33337,
 26828,
 4891,
 47611,
 24977,
 45806,
 48809,
 9809,
 49198,
 28820,
 32035,
 44319,
 1794,
 28343,
 22497,
 33119,
 4715,
 14293,
 48411,
 13073,
 35393,
 41988,
 8258,
 44418,
 35329,
 30368,
 26482,
 31615,
 34464,
 18767,
 23486,
 38331,
 25320,
 15791,
 41619,
 46527,
 25485,
 15841,
 33642,
 15856,
 9919,
 2283,
 11502,
 7973,
 53366,
 17450,
 42659,
 22098,
 45876,
 9357,
 173,
 14568,
 33409,
 3122,
 33633,
 10008,
 45584,
 36135,
 46732,
 51557,
 33075,
 4967,
 26825,
 21744,
 31093,
 1307,
 9057,
 27599,
 24903,
 33922,
 41732,
 37035,
 42213,
 1245,
 30611,
 24962,
 49660,
 26181,
 43468,
 25155,
 36667,
 10315,
 40295,
 4289,
 12145,
 9797,
 17652,
 25698,
 47508,
 44171,
 32149,
 35983,
 15522,
 21366,
 15567,
 41114,
 38766,
 15102,
 7610,
 27808,
 14873,
 41854,
 35866,
 26388,
 28794,
 21783,
 2066,
 26800,
 32907,
 32809,
 41113,
 52214,
 23291,
 9805,
 16848,
 18884,
 43668,
 28407,
 14585,
 34008,
 9751,
 13182,
 23892,
 14940,
 4821,
 52425,
 5616,
 48566,
 50119,
 16476,
 38059,
 45059,
 15727,
 6856,
 37617,
 41435,
 39979,
 13464,
 8286,
 42355,
 18068,
 30259,
 10688,
 45361,
 7453,
 42161,
 946,
 48726,
 20243,
 9830,
 41601,
 21975,
 2722,
 20737,
 43151,
 47811,
 9257,
 43949,
 34859,
 25065,
 52136,
 11829,
 11997,
 24683,
 33772,
 21237,
 5812,
 6294,
 44650,
 10988,
 30719,
 5152,
 15194,
 45588,
 20532,
 29562,
 48966,
 29644,
 35664,
 52748,
 41948,
 39032,
 34571,
 52123,
 27991,
 8565,
 52965,
 36403,
 25266,
 50442,
 28458,
 27187,
 11466,
 23711,
 40737,
 14234,
 37127,
 12771,
 7152,
 43836,
 15788,
 11605,
 12791,
 4096,
 16123,
 14543,
 44137,
 32916,
 4203,
 46381,
 23839,
 20241,
 51373,
 14185,
 22719,
 13189,
 32139,
 19683,
 27273,
 40330,
 13241,
 31754,
 38286,
 41968,
 4900,
 11327,
 16293,
 29765,
 14594,
 21861,
 5657,
 6658,
 6281,
 8641,
 31321,
 15935,
 17924,
 7868,
 23738,
 21381,
 22894,
 29916,
 13739,
 10436,
 6683,
 49203,
 ...]

In [544]:
len(new_users)

4781

In [545]:
ratings=ratings[ratings['user_id'].isin(new_users)]

In [546]:
ratings.shape

(413729, 3)

In [547]:
ratings_with_bookname=ratings.merge(new_books,on='book_id')

In [565]:
ratings_with_bookname

,book_id,user_id,rating,isbn,authors,year,title,language_code,average_rating
0,1,314,5,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
1,1,439,3,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
2,1,588,5,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
3,1,1169,4,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
4,1,1185,4,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
...,...,...,...,...,...,...,...,...,...
364981,9999,10372,2,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65
364982,9999,13990,3,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65
364983,9999,23508,5,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65
364984,9999,25812,5,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65
364985,9999,25839,3,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,eng,3.65

In [548]:
ratings_with_bookname.shape

(364986, 9)

In [549]:
ratings_with_bookname.head()

,book_id,user_id,rating,isbn,authors,year,title,language_code,average_rating
0,1,314,5,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
1,1,439,3,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
2,1,588,5,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
3,1,1169,4,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34
4,1,1185,4,439023483,Suzanne Collins,2008.0,The Hunger Games,eng,4.34

In [550]:
book_num_ratings=ratings_with_bookname.groupby('title')['rating'].count().reset_index()

In [551]:
book_num_ratings.rename(columns={'rating':'num_ratings'},inplace=True)

In [552]:
book_num_ratings['title']=book_num_ratings['title']

In [553]:
book_num_ratings['title'].isna().value_counts()

False    7830
Name: title, dtype: int64

In [554]:
book_num_ratings=book_num_ratings[book_num_ratings.title != ' ']

In [566]:
book_num_ratings=book_num_ratings[book_num_ratings['num_ratings']>=50]

In [567]:
book_num_ratings

                                                  title  num_ratings
1                                      A Monster Calls            66
2                                    Animal Farm & 1984           99
15                           The Fellowship of the Ring          100
17                               The Tale of Despereaux           92
24                                 "D" is for Deadbeat            56
...                                                 ...          ...
7791                     å­«å­å
µæ³ [SÅ«nzi bÄ«ngfÇ]           97
7803               æµ·è¾ºã®ã«ãã« [Umibe no Kafuka]           92
7811      ç¾ããããåéº [HitsujiwomegurubÅken]           67
7814  è²å½©ãæããªãå¤å´ã¤ããã¨ãå½¼ã...           61
7821                         éå¾·ç¶ [dÃ o dÃ© jÄ«ng]           84

[3025 rows x 2 columns]

In [564]:
book_num_ratings['title'].value_counts()

The Darkness That Comes Before    1
Heir of Fire                      1
The Woods                         1
Unlucky 13                        1
Leaving                           1
                                 ..
The Two Princesses of Bamarre     1
Someday, Someday, Maybe           1
The Peach Keeper                  1
The Black house                   1
Lord Edgware Dies                 1
Name: title, Length: 7829, dtype: int64

In [34]:
book_num_ratings

                                                    title  num_ratings
493                                                  1984           76
527                                   1st to Die: A Novel          162
664                                            2nd Chance          124
810                                             4 Blondes           71
1020                                84 Charing Cross Road           54
...                                                   ...          ...
159044                                    Year of Wonders           59
159277                                   You Belong To Me           56
159916  Zen and the Art of Motorcycle Maintenance: An ...           64
160067                                               Zoya           59
160158                                \O\" Is for Outlaw"          105

[742 rows x 2 columns]

In [36]:
final_rating=ratings_with_bookname.merge(book_num_ratings,on='title')

In [37]:
final_rating.shape

(61853, 8)

In [38]:
final_rating=final_rating.drop_duplicates(subset=['user_id','title'])

In [39]:
final_rating.shape

(59850, 8)

In [40]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,num_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
...,...,...,...,...,...,...,...,...
61848,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
61849,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61850,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61851,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
61852,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50

In [42]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [43]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
book_pivot.shape

(742, 888)

In [45]:
book_pivot=book_pivot.fillna(0)

In [46]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from scipy.sparse import csr_matrix
book_matrix=csr_matrix(book_pivot)

In [48]:
from sklearn.neighbors import NearestNeighbors

In [49]:
model=NearestNeighbors(algorithm='brute')

In [50]:
model.fit(book_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [51]:
book_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [52]:
book_pivot.iloc[237,:].values.reshape(1,-1)

array([[ 9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0., 10.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  9.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,  0.,  0.,  7.,  0.,
         0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  8.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0., 10.,  0.,  0.,  0.,  7.,
        10.,  0., 10.,  0., 10.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  9.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  5.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  7.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  8., 10.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0., 10.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  9.,
         0.,  0.,  0.,  0.]])

In [53]:
distance,suggestion=model.kneighbors(book_pivot.iloc[1,:].values.reshape(1,-1),n_neighbors=5)

In [55]:
suggestion

array([[  1, 184, 536, 532, 372]])

In [56]:
book_pivot.index[184]

'Exclusive'

In [57]:
book_pivot.index[536]

'The Cradle Will Fall'

In [58]:
for i in suggestion[0]:
    print(book_pivot.index[i])

1st to Die: A Novel
Exclusive
The Cradle Will Fall
The Clinic (Alex Delaware Novels (Paperback))
No Safe Place

In [59]:
def recommend(bookname):
    b_id=np.where(book_pivot.index==bookname)[0][0]
    distance,suggestion=model.kneighbors(book_pivot.iloc[1,:].values.reshape(1,-1),n_neighbors=5)
    for i in suggestion[0]:
        print(book_pivot.index[i])

In [60]:
recommend('The Cradle Will Fall')

1st to Die: A Novel
Exclusive
The Cradle Will Fall
The Clinic (Alex Delaware Novels (Paperback))
No Safe Place

In [64]:
recommend('No Safe Place')

1st to Die: A Novel
Exclusive
The Cradle Will Fall
The Clinic (Alex Delaware Novels (Paperback))
No Safe Place